body {
	margin: 0px;
	padding: 0px;
	background-color: #474e5d;
	color: #c0c0c0;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
	position: fixed;
	top: 0px;
	width: 100%;
}

.topnav a {
	padding-left: 25px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

.about-section {
	margin-top: 200px;
  padding: 50px;
  text-align: center;
}

.about-section h1 {
  margin-bottom: 250px;
}

.about-section p {
  font-size: 16px;
}

.about-container{
	display: flex;
	justify-content: space-evenly;
	margin-top: 10%;
}

.about-picture{
	max-height: 500px;
}

.about-text{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 500px;
	min-width: 200px;
	font-size:25px;
}

.projects-section{
	margin-top: 200px;
}

.projects-title{
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
}

.projects-cards{
	padding: 50px;
	display: flex;
	justify-content: space-evenly;
}

.project-image{
	max-width: 30%;
}

.project-links{
	display: flex;
	flex-direction: column;
}